.square {
  border-radius: 60%;
}
.jumbotron {
  background-image: linear-gradient(to right, #13adc7, #945dd6);
  color: #fff;
  padding: 50px 0;
}
.pointer {
  cursor: pointer;
}
.hover-spin {
  transition: all 0.2s ease-in;
  transform: rotate(0deg);
}
.hover-spin:hover {
  transform: rotate(90deg);
}
img {
  width: 100%;
}
